<section class="container-order">
  <div class="container-content-order">
    <picture class="container-img">
      <source
        srcset="
          ./img/buy-products/picdesk-1x-min.png 1x,
          ./img/buy-products/picdesk-2x-min.png 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/buy-products/pictab-1x-min.png 1x,
          ./img/buy-products/pictab-2x-min.png 2x
        "
        media="(max-width: 1440px)"
      />
      <source
        srcset="
          ./img/buy-products/picmob-1x-min.webp 1x,
          ./img/buy-products/picmob-2x-min.webp 2x
        "
        media="(max-width: 768px)"
      />
      <img
        src="./img/buy-products/picdesk-1x-min.png"
        alt="Simple Sketchbook"
      />
    </picture>
    <div class="container-text-order">
      <h2 class="title-buy">Simple Sketchbook</h2>
      <p class="text-buy">
        80 sheets, hard cover, Fabriano 200 gsm paper. Suitable for both drawing
        and watercolor. Perfect for the boldest creative visions!
      </p>
      <button type="button" class="button-buy">To order</button>
    </div>
  </div>
</section>
