<div class="container-footer">
  <div class="footer">
    <div class="container-footer-logo">
      <a href="#">
        <ul class="footer-logo-menu">
          <li class="footer-logo-figure">
            <svg class="footer-logo-figure-svg" width="17" height="17">
              <use href="/img/footer/symbol-defs.svg#icon-Ellipse-1"></use>
            </svg>
          </li>
          <li class="footer-logo-text">
            <p>simple</p>
          </li>
          <li class="footer-logo-figure">
            <svg class="footer-logo-figure-svg" width="32" height="17">
              <use href="/img/footer/symbol-defs.svg#icon-Rectangle-3"></use>
            </svg>
          </li>
          <li class="footer-logo-figure">
            <svg class="footer-logo-figure-svg" width="17" height="17">
              <use href="/img/footer/symbol-defs.svg#icon-Ellipse-3"></use>
            </svg>
          </li>
        </ul>
      </a>
    </div>
    <div class="footer-links">
      <ul class="footer-links-menu">
        <li class="footer-links-list">
          <a href="https://www.facebook.com/" target="_blank"
            ><svg class="footer-links-icons">
              <use
                href="/img/footer/links.svg#icon-facebook"
                width="24"
                height="24"
              ></use>
            </svg>
          </a>
        </li>
        <li class="footer-links-list">
          <a href="https://x.com/" target="_blank">
            <svg class="footer-links-icons">
              <use
                href="/img/footer/links.svg#icon-twetter"
                width="24"
                height="24"
              ></use>
            </svg>
          </a>
        </li>
        <li class="footer-links-list">
          <a href="https://www.instagram.com/" target="_blank">
            <svg class="footer-links-icons">
              <use
                href="/img/footer/links.svg#icon-inst"
                width="24"
                height="24"
              ></use>
            </svg>
          </a>
        </li>
        <li class="footer-links-list">
          <a href="https://www.youtube.com/" target="_blank">
            <svg class="footer-links-icons">
              <use
                href="/img/footer/links.svg#icon-youtube"
                width="24"
                height="24"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
