<header>
  <div class="container">
    <div class="container-logo">
      <a href="#">
        <ul class="logo-menu">
          <li class="logo-figure">
            <svg class="logo-figure-svg" width="17" height="17">
              <use href="/img/header/symbol-defs.svg#icon-Ellipse-1"></use>
            </svg>
          </li>
          <li class="logo-text">
            <p>simple</p>
          </li>
          <li class="logo-figure">
            <svg class="logo-figure-svg" width="32" height="17">
              <use href="/img/header/symbol-defs.svg#icon-Rectangle-3"></use>
            </svg>
          </li>
          <li class="logo-figure">
            <svg class="logo-figure-svg" width="17" height="17">
              <use href="/img/header/symbol-defs.svg#icon-Ellipse-3"></use>
            </svg>
          </li>
        </ul>
      </a>
    </div>
    <div class="container-icons">
      <input type="checkbox" id="menu-toggle" />
      <label for="menu-toggle" class="menu-icon">
        <img src="/img/header/icons8-menu-24.png" class="icon" alt="menu" />
      </label>
      <button class="search-btn">
        <img src="/img/header/icons8-phone-call.gif" class="icon" alt="phone" />
      </button>
      <nav class="menu">
        <label for="menu-toggle" class="close-menu">×</label>
        <ul>
          <li><a href="#">Продукция</a></li>
          <li><a href="#">Материалы</a></li>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="container-nav">
    <nav class="container-navigation">
      <ul class="container-nav-menu">
        <li class="container-nav-list"><a href="#">Продукция</a></li>
        <li class="container-nav-list"><a href="#">Материалы</a></li>
        <li class="container-nav-list"><a href="#">О нас</a></li>
        <li class="container-nav-list"><a href="#">Контакты</a></li>
      </ul>
    </nav>
  </div>
</header>
