<!-- <div class="container">
  <div class="container-logo">
    <a href="">
      <ul class="logo-menu">
        <li class="logo-figure">
          <svg class="logo-figure-svg" width="17" height="17">
            <use href="/img/header/symbol-defs.svg#icon-Ellipse-1"></use>
          </svg>
        </li>
        <li class="logo-text">
          <p>simple</p>
        </li>
        <li class="logo-figure">
          <svg class="logo-figure-svg" width="32" height="17">
            <use href="/img/header/symbol-defs.svg#icon-Rectangle-3"></use>
          </svg>
        </li>
        <li class="logo-figure">
          <svg class="logo-figure-svg" width="17" height="17">
            <use href="/img/header/symbol-defs.svg#icon-Ellipse-3"></use>
          </svg>
        </li>
      </ul>
    </a>
  </div>
  <div class="container-icons">
    <button class="menu-btn">
      <img src="/img/header/icons8-menu-24.png" class="icon" alt="menu" />
    </button>
    <button class="search-btn">
      <img src="/img/header/icons8-phone-call.gif" class="icon" alt="menu" />
    </button>
  </div>
</div> -->
