<section class="section-partners">
  <div class="container-partners">
    <ul class="partners-list">
      <li class="partners-item" id="slide-1">
        <img
          srcset="
            ./img/Partners/hahnemuehle-logo-desk-1x.png 1x,
            ./img/Partners/hahnemuehle-logo-desk-2x.png 2x
          "
          alt="logo-1"
          class="logo-1"
        />
      </li>
      <li class="partners-item" id="slide-2">
        <img
          srcset="
            ./img/Partners/Frame-2251x-min.png 1x,
            ./img/Partners/Frame-2252x-min.png 2x
          "
          alt="logo-2"
          class="logo-2"
        />
      </li>
      <li class="partners-item" id="slide-3">
        <img
          srcset="
            ./img/Partners/royal-1x-min.png 1x,
            ./img/Partners/royal-2x-min.png 2x
          "
          alt="logo-3"
          class="logo-3"
        />
      </li>
      <li class="partners-item" id="slide-4">
        <img
          srcset="
            ./img/Partners/Frame-1x-min.png 1x,
            ./img/Partners/Frame-2x-min.png 2x
          "
          alt="logo-4"
          class="logo-4"
        />
      </li>
    </ul>
  </div>
</section>
