<div class="container-products">
  <div class="contaier-new-products">
    <ul class="products-menu">
      <li class="products-list">
        <picture class="products-photo">
          <source
            srcset="
              ./img/products/packaging-tab-1x.jpeg 1x,
              ./img/products/packaging-tab-2x.jpeg 2x
            "
            media="(max-width: 768px)"
          />
          <source
            srcset="
              ./img/products/packaging-desk-1x.jpeg 1x,
              ./img/products/packaging-desk-2x.jpeg 2x
            "
            media="(max-width: 1440px)"
          />
          <img
            src="./img/products/packaging-tab-1x.jpeg"
            alt="packaging-photo"
          />
        </picture>
        <h3 class="products-head-text">Packaging</h3>
        <p class="products-small-text">Circulation: from 50 pieces</p>
        <p class="products-mid-text">
          Made of kraft paper or heavy cardboard. Packs have different shapes
          and colors, we will make the shape to order.
        </p>
        <button class="products-btn">Read More</button>
      </li>

      <li class="products-list">
        <picture class="products-photo">
          <source
            srcset="
              ./img/products/packets-tab-1x.jpeg 1x,
              ./img/products/packets-tab-2x.jpeg 2x
            "
            media="(max-width: 768px)"
          />
          <source
            srcset="
              ./img/products/packets-desk-1x.jpeg 1x,
              ./img/products/packets-desk-2x.jpeg 2x
            "
            media="(max-width: 1440px)"
          />
          <img src="./img/products/packets-tab-1x.jpeg" alt="packets-photo" />
        </picture>
        <h3 class="products-head-text">Packets</h3>
        <p class="products-small-text">Circulation: from 200 pieces</p>
        <p class="products-mid-text">
          With rectangular bottom. From 10 cm to 60 cm in height. Materials:
          cardboard, kraft paper. Various colors and designs.
        </p>
        <button class="products-btn">Read More</button>
      </li>

      <li class="products-list">
        <picture class="products-photo">
          <source
            srcset="
              ./img/products/folders-tab-1x.jpeg 1x,
              ./img/products/folders-tab-2x.jpeg 2x
            "
            media="(max-width: 768px)"
          />
          <source
            srcset="
              ./img/products/folders-desk-1x.jpeg 1x,
              ./img/products/folders-desk-2x.jpeg 2x
            "
            media="(max-width: 1440px)"
          />
          <img src="./img/products/folders-tab-1x.jpeg" alt="folders-photo" />
        </picture>
        <h3 class="products-head-text">Folders</h3>
        <p class="products-small-text">Circulation: from 30 pieces</p>
        <p class="products-mid-text">
          Suitable for documents and other papers. Various colors, sizes and
          densities. Material: pressed paper.
        </p>
        <button class="products-btn">Read More</button>
      </li>

      <li class="products-list">
        <picture class="products-photo">
          <source
            srcset="
              ./img/products/other-products-tab-1x.jpeg 1x,
              ./img/products/other-products-tab-2x.jpeg 2x
            "
            media="(max-width: 768px)"
          />
          <source
            srcset="
              ./img/products/other-products-desk-1x.jpeg 1x,
              ./img/products/other-products-desk-2x.jpeg 2x
            "
            media="(max-width: 1440px)"
          />
          <img
            src="./img/products/other-products-mob-1x.jpeg"
            alt="other-products-photo"
          />
        </picture>
        <h3 class="products-head-text">Other products</h3>
        <p class="products-small-text">Circulation: from 100 pieces</p>
        <p class="products-mid-text">
          Non-standard packages, cases and other products of various sizes and
          configurations. We will produce in the shortest possible time.
        </p>
        <button class="products-btn">Read More</button>
      </li>
    </ul>
  </div>
</div>
