<div class="container-products">
  <div class="container-new-products">
    <ul class="products-menu">
      <li class="products-list">
        <picture class="products-photo">
          <source
            srcset="
              ./img/products/packaging-desk-1x-min.jpeg 1x,
              ./img/products/packaging-desk-2x-min.jpeg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/products/packaging-tab-1x-min.jpeg 1x,
              ./img/products/packaging-tab-2x-min.jpeg 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./img/products/packaging-mob-1x-min.jpeg 1x,
              ./img/products/packaging-mob-2x-min.jpeg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/products/packaging-mob-1x-min.jpeg"
            alt="packaging-photo"
          />
        </picture>
        <h3 class="products-head-text">Packaging</h3>
        <p class="products-small-text">Circulation: from 50 pieces</p>
        <p class="products-mid-text">
          Made of kraft paper or heavy cardboard. Packs have different shapes
          and colors, we will make the shape to order.
        </p>
        <button class="products-btn">Read More</button>
      </li>

      <li class="products-list">
        <picture class="products-photo">
          <source
            srcset="
              ./img/products/packets-desk-1x-min.jpeg 1x,
              ./img/products/packets-desk-2x-min.jpeg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/products/packets-tab-1x-min.jpeg 1x,
              ./img/products/packets-tab-2x-min.jpeg 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./img/products/packets-mob-1x-min.jpeg 1x,
              ./img/products/packets-mob-2x-min.jpeg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/products/packets-mob-1x-min.jpeg"
            alt="packets-photo"
          />
        </picture>
        <h3 class="products-head-text">Packets</h3>
        <p class="products-small-text">Circulation: from 200 pieces</p>
        <p class="products-mid-text">
          With rectangular bottom. From 10 cm to 60 cm in height. Materials:
          cardboard, kraft paper. Various colors and designs.
        </p>
        <button class="products-btn">Read More</button>
      </li>

      <li class="products-list">
        <picture class="products-photo">
          <source
            srcset="
              ./img/products/folders-desk-1x-min.jpeg 1x,
              ./img/products/folders-desk-2x-min.jpeg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/products/folders-tab-1x-min.jpeg 1x,
              ./img/products/folders-tab-2x-min.jpeg 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./img/products/folders-mob-1x-min.jpeg 1x,
              ./img/products/folders-mob-2x-min.jpeg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/products/folders-mob-1x-min.jpeg"
            alt="folders-photo"
          />
        </picture>
        <h3 class="products-head-text">Folders</h3>
        <p class="products-small-text">Circulation: from 30 pieces</p>
        <p class="products-mid-text">
          Suitable for documents and other papers. Various colors, sizes and
          densities. Material: pressed paper.
        </p>
        <button class="products-btn">Read More</button>
      </li>

      <li class="products-list">
        <picture class="products-photo">
          <source
            srcset="
              ./img/products/other-products-desk-1x-min.jpeg 1x,
              ./img/products/other-products-desk-2x-min.jpeg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/products/other-products-tab-1x-min.jpeg 1x,
              ./img/products/other-products-tab-2x-min.jpeg 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./img/products/other-products-mob-1x-min.jpeg 1x,
              ./img/products/other-products-mob-2x-min.jpeg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/products/other-products-mob-1x-min.jpeg"
            alt="other-products-photo"
          />
        </picture>
        <h3 class="products-head-text">Other products</h3>
        <p class="products-small-text">Circulation: from 100 pieces</p>
        <p class="products-mid-text">
          Non-standard packages, cases and other products of various sizes and
          configurations.
        </p>
        <button class="products-btn">Read More</button>
      </li>
    </ul>
  </div>
</div>
