.container {
  padding: 15px;
  background: #fff;
}

.container-logo {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}

.logo-menu {
  display: flex;
  gap: 5px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.logo-figure-svg {
  display: block;
  width: 100%;
  height: auto;
  stroke: black;
  fill: none;
}

.logo-text p {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.container-icons {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 20px auto;
}

.container-icons button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.container-icons .icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
